version: '3.8'

services:
  whatomate_app:
    image: shridh0r/whatomate:latest
    container_name: whatomate_app
    command: server -migrate
    ports:
      - "8080:8080"
    depends_on:
      - whatomate_db
      - whatomate_redis
    volumes:
      - "C:/Users/Dotsoft Solutions/Downloads/whatomate-main (1)/whatomate-main/config.toml:/app/config.toml"
      - "C:/Users/Dotsoft Solutions/Downloads/whatomate-main (1)/whatomate-main/uploads:/app/uploads"
    environment:
      - DATABASE_URL=postgres://whatomate:whatomate123@whatomate_db:5432/whatomate
      - REDIS_URL=redis://whatomate_redis:6379
    restart: unless-stopped

  whatomate_db:
    image: postgres:17-alpine
    container_name: whatomate_db
    environment:
      POSTGRES_USER: whatomate
      POSTGRES_PASSWORD: whatomate123
      POSTGRES_DB: whatomate
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped

  whatomate_redis:
    image: redis:7-alpine
    container_name: whatomate_redis
    volumes:
      - redis-data:/data
    restart: unless-stopped

volumes:
  postgres-data:
  redis-data:
